@use "sass:color";

.categories {
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    @media (max-width: 1150px) {
      max-width: 360px;
    }
  }

  li {
    font-weight: 700;
    color: #2c2c2c;
    padding: 14px 20px;
    background-color: #f9f9f9;
    border-radius: 30px;
    cursor: pointer;

    &:hover {
      background-color: color.adjust(#f9f9f9, $lightness: -2%);
    }

    &:active {
      background-color: color.adjust(#f9f9f9, $lightness: -5%);
    }

    &.active {
      background-color: #282828;
      color: #fff;
    }
  }
}
