@mixin btn {
  font-size: 1.125rem;
  font-weight: 700;
  padding: 5px 10px;
  border: 2px solid #fe5f1e;
  border-radius: 50%;
  color: #fe5f1e;
  cursor: pointer;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  border-top: 1px solid #f1f1f1;

  @media (max-width: 700px) {
    gap: 50px;
  }

  @media (max-width: 600px) {
    flex-direction: column;
  }

  &Info {
    display: flex;
    align-items: center;
    gap: 15px;

    div {
      display: flex;
      flex-direction: column;

      .title {
        font-weight: 700;
        font-size: 1.375rem;
      }

      .description {
        font-size: 1.125rem;
        color: #8d8d8d;
      }
    }
  }
}

.buttons {
  display: flex;
  gap: 50px;
  align-items: center;
}

.amount {
  display: flex;
  align-items: center;
  gap: 10px;

  span {
    font-weight: 700;
    font-size: 1.125rem;
  }
}

.button {
  @include btn;

  &:hover {
    background-color: #fe5f1e;
    color: #fff;
  }
}

.delete {
  @include btn;

  color: #8d8d8d;
  border-color: #8d8d8d;
  opacity: 0.6;

  &:hover {
    opacity: 0.9;
  }
}

.price {
  font-size: 1.125rem;
  font-weight: 700;
}
